beautifulsoup4==4.8.1
dj-database-url==0.4.2
Django==2.2.6
django-import-export==1.2.0
djangorestframework==3.10.3
gunicorn==19.7.1
lxml==4.4.1
python-dotenv==0.10.3
requests==2.22.0
whitenoise==3.3.1
